import(ICS)
importFrom(ICSNP, HR.Mest, spatial.median)

export(ojaMedian, ojaMedianFn, hyperplane, ojaRCM, ojaSCM, ojaSign, ojaMedianControl, ojaRank, oja1sampleTest, ojaMedianEvo, ojaMedianGrid, ojaMedianEx, ojaSignedRank)

useDynLib(OjaNP)
